* {
    margin: 0;
    padding: 0;
}

#pallete {
    display: flex;
    flex-direction: column;
    height: 65vh;
    gap: 10px;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

#row {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 20%;
}