button {
    width: 25%;
    height: 90%;
    border-radius: 50px;
    color: rgb(245, 236, 236);
    background-color: rgb(43, 39, 39);
    font-size: xx-large;
    font-weight: bold;
    border: none;
}

#back {
    background-color: orangered;
}

#fore {
    color: orangered;
}